{% extends "events/home.html" %}
{% block title %}Admin Event List{% endblock %}

{% block content %}
    <!-- search term -->
    <div class="container my-4">
        <form method="get" action="{% url 'admin_event_list' %}">
            <div class="d-flex justify-content-center align-items-center">
                <input type="text" class="form-control me-2" placeholder="Search by Event Title" name="search_term" value="{{ search_term }}">
                <button type="submit" class="btn btn-outline-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>

    <!-- Event List Form -->
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Event Title</th>
                <th>Organizer</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.organizer.username }}</td>
                    <td>{{ event.start_time|date:"d/m/y" }}</td>
                    <td>{{ event.end_time|date:"d/m/y" }}</td>
                    <td>
                        <a href="{% url 'admin_event_details' event.id %}" class="btn btn-purple">details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
