{% extends "events/home.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white text-center">
                <h4>User Registration</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label">username</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Identity</label>
                        <select class="form-select" name="role">
                            <option value="user">Normal User</option>
                            <option value="admin">Administrator</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success w-100">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
